*{
    background-color: rgb(230, 226, 240);
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
}

body{
    text-align: center;
 
}

h1{
    text-align: center;
}

#highscore{
    display: inline-block;
    text-align: center;
    padding-left:0px;
}

button{
    position: relative;
    bottom: -100px;
    background-color: rgb(183, 144, 219);
    color: rgb(0,0,0);
    height: 60px;
    width: 160px;
    font-size: large;
    border-radius: 10px;
    border-color:  rgb(168, 117, 166);
    font-family: 'Courier New', Courier, monospace;
}
