*{
    box-sizing: border-box;
}
main{ 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 0px;
}

body{
    font-family:'Courier New', Courier, monospace;
}
#highscore{
    color:palevioletred;
    position: absolute;
    left:0;
    top: 15px;
    padding-left: 30px;
}
#timer{
    position: absolute;
    top:15px;
    right: 0;
    padding: 15px, 0px;
    margin-right: 40px;
}